.info {
    background-color: #CCCCCC;  /* Темный фон */
    padding: 10px;           /* Немного отступа для оформления */
    border-radius: 5px;      /* Закругленные углы (по желанию) */
}

.info a {
    color: #000000;             /* Белый цвет текста для ссылки */
    text-decoration: none;   /* Убирает подчеркивание (по желанию) */
}

.info a:hover {
    color: #f0f0f0;         /* Более светлый цвет при наведении (по желанию) */
}

.nav-link {
   display: flex;
   align-items: center;
}

.nav-item {
   margin-right: 15px;
}

/*Стилизация подсказок при вводе названия города*/
#suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    opacity: 1;
}

.suggestion {
    padding: 8px;
    cursor: pointer;
    background-color: #fff;
    opacity: 1;
}

.suggestion:hover {
    background-color: #f0f0f0;
}

#game-list { overflow:hidden; }