.nav-link {
   display: flex;
   align-items: center;
}

.nav-item {
   margin-right: 15px;
}

#container-gis {
    width: 500px;
    height: 300px;
    background-color: lightgray; /* Временный цвет для проверки */
}
